.product-form {
    height: 100%;
    width: 100%;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    background-color: rgb(240, 239, 235);
    display: flex;
    flex-direction: column;
}

.product-form h1 {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    padding-top: 30px;
    margin-bottom: 30px;
}

.photo-container, .detail-container {

    // box-sizing: border-box;
    border: 24px;
    margin: 24px;
    border: 1px solid grayscale($color: #d3d3d3);
    background-color: white;
    border-radius: 5px;
    display: flex;
    color: rgb(138, 136, 136);
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.photo-container h2, .detail-container h2 {
    font-size: 20px;
    margin-bottom: 8px;
    color: black;
}

.product-p1 {
    font-size: 14px;
    margin-bottom: 24px;
}

.photo-list {
    font-size: 12px;
    width: 30%;
    line-height: 16px;
}

.product-p2, .product-p3 {
    margin-bottom: 12px;
    line-height: 16px;
}

.detail-container p {
    font-size: 14px;
    margin-bottom: 24px;
    color: rgb(138, 136, 136);

}

.detail-container label {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    margin: 14px 40px 14px 0px;
    font-weight: 500;
    line-height: 16px;
}

.detail-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 28%;
    margin-right: 0px;
}

.detail-select select {
    margin-left: 10px;
}

#details{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(238, 238, 238);;
}

.detail-container {
    color: black;
}

.product-form input {
    width: 80%;
    padding: 0px;
    border: 1px solid rgb(223, 221, 221);
    height:  40px;
    border-radius: 2px;
}

.product-form #description{
    width: 80%;
    border: 1px solid rgb(223, 221, 221);
    border-radius: 2px;
}

#category {
    width: 150px;
}


.submission-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.submission-buttons > input{
    width: 150px;
    margin-right: 40px;
    height: 38px;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}




.submission-buttons > button {
    width: 150px;
    margin-right: 10px;
    height: 38px;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 14px;
    line-height: 16px;
}