.product-index-container {
    display: flex;
    padding: 40px;
    margin: 15px;
    // justify-content: center;
    align-items: center;
    list-style-type: none;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 40px;

}

.product-item {
    width: 100%;
    padding: 0px;
}

.index-item-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.product-title {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: normal;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    color: black

}

#product-seller {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: normal;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    margin: 0 auto;
    padding: 0;
    color: rgb(89, 89, 89);;
}

.product-price {
    line-height: 26px;
    font-weight: 500;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}


.product-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.edit-item-button {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    line-height: 25px;
}

.edit-item-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.edit-item-button:hover {
    background-color: grayscale($color: #797878);
}

.no-search-container {
    height: 20vh;
}

.no-search{
    font-size: 28px;
    font-family: "Guardian-EgypTT",serif;  
    font-weight: 100; 
}
 

