.body {
  margin: 0;
  min-width: 1000px;
}

.navbar-container {
    border-bottom: 1px solid grayscale($color: #d3d3d3);
    width: 100%;
    min-width: 1000px;
    height: 106px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding-right: 36px;
    padding-left: 36px;
    padding: 12px 12px;
}

.header-link { 
     
     text-decoration: none;
     display: flex;
     align-content: center;
     margin: 2px;
     justify-content: flex-start;
 }


 .logo-name {
    font-family: 'Noto Serif SC', serif;
    font-weight: lighter;
    color: #F1641E;
    margin: 0px;
    font-size: 40px;
    transform: scale(1, 0.89);
    --font-smoothing: subpixel-antialiased;
    padding-right: 6px;
    height: 100%;
 }

.login-signup {
    display: flex;
    align-items: center ;
    justify-content: flex-end;
    height: 100%;
  
}

.signin-m, .register-m  {
    height: 80%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    background-color: white;
    border: 1px solid white;
    // padding: 9px 15px;
    margin: 6px;
}


.shop-btn {
    height: 80%;
    font-size: 28px;
    font-weight: bold;
    border-radius: 40px;
    background-color: white;
    border: 1px solid white;
  
}

.register-m:focus, .shop-btn:focus, .signin-m:focus  {
    outline: 0;
}

.signin-m:hover, .register-m:hover, .shop-btn:hover {
    background-color: rgb(204, 204, 204);
}


// logged-in user

// .navbar-right {
//     display: flex;
//     align-items: center ;
//     justify-content: flex-end;
//     text-decoration: none;
//     height: 100%;
// }

.navbar-right {
    font-family: sans-serif;
}

.loggedin-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.sell-icon {

    background-color: white;
    border: 1px solid white;
    padding: 9px 10px;
    margin: 2px;
}

.shop-btn-loggedin {
    height: 80%;
    font-size: 28px;
    font-weight: bold;
    border-radius: 40px;
    background-color: white;
    border: 1px solid white;
    padding: 0 10px;
}

.sell-link:hover, .logout-btn:hover, .view-profile:hover {
    text-decoration: underline;
}

.logout-btn, .sell-link, .view-profile, .view-profile-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: lighter;
}

.shop-btn-loggedin:focus  {
    outline: 0;
}


// catergories navbar

.categories {
    height: 34px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // align-content: space-evenly;
    box-sizing: border-box;
    padding-right: 18px;
    padding-left: 12px;
    align-items: center;
    font-family: sans-serif;
}

.categories a {
    text-decoration: none;
    color: black;
    font-weight: 100;
    font-size: 14px;;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.categories a:hover{
    border-bottom: 5px solid #F1641E;
    margin-bottom: -1px;
    cursor: pointer;
}

//profile logo
.profile-logo {
    display: inline-block;
    height: 36px;
    width: auto;
    border-radius: 20px;
}

.dropdown-header {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.dropdown-content { 
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: -50px;
//   z-index: 1;
}

.dropdown-header:hover .dropdown-content {
    display: block;
    z-index: 1;
}

.dropdown-head {
    background-color: white;
    border: 1px solid white;
    // padding: 9px 5px;
    // margin: 2px;
}

.logout-btn {
    font-size: 16px;
    font-weight: lighter;
}

.view-link {
    text-decoration: none;
}

.view-profile {
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
}

.dropdown-content a:hover {
    background: lightgray;
}


