// * {
//   box-sizing: border-box;
// }

// searchbar 

.navbar-left {
    display: flex;
    width: 73%;
    height: 100%;
}

.searchbar {
    align-self: center;
    width: 100%;
    height: 90%;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;

}

.searchbar input {
    width: 93%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 100px 0px 0px 100px;
    background-color: grayscale($color: #e7e4e4);
    font-size: 16px;
    padding-left: 15px;
    border: 0px;
    margin: 0px;

}
.searchbar input:focus {
    outline: 0;
}

.searchbar button:hover {
  background: #aaabac;
}

form.searchbar {
  height: 100%;
}


.searchbutton {
  display: in;
  float: right;
  height: 100%;
  // position: absolute;
  width: 7%;
  padding: 0px;
  border-radius: 0px 100px 100px 0px;
  background: grayscale($color: #e7e4e4);
  color: black;
  font-size: 24px;
  cursor: pointer;
  border-top: 1px rgb(190, 190, 190);
  border-bottom: 1px rgb(190, 190, 190);
  -webkit-font-smoothing: antialiased;
  border: 0px;
  margin: 0px;
}



// /* Style the search field */
// .searchbar input[type=text] {
//   padding: 10px;
//   font-size: 17px;
//   border: 1px solid grey;
//   float: left;
//   width: 80%;
//   background: #f1f1f1;
// }

// /* Style the submit button */
// .searchbar button {
//   float: left;
//   width: 20%;
//   padding: 10px;
//   background: #2196F3;
//   color: white;
//   font-size: 17px;
//   border: 1px solid grey;
//   border-left: none; /* Prevent double borders */
//   cursor: pointer;
// }

// .searchbar button:hover {
//   background: #0b7dda;
// }

// /* Clear floats */
.searchbar::after {
  content: "";
  clear: both;
  display: table;
}


.view-profile {
  width: 24px;
  height: 24px;
}