
.homepage h2 {
    display: block;
    font-family: "Guardian-EgypTT",serif;    
    font-size: 32px;
    color: black;
    font-weight: 100;
    box-sizing: border-box;
    height: 78px;
    -webkit-font-smoothing: antialiased;
    padding: 30px 12px 12px 12px;
    text-align: center;
    letter-spacing: 0px;
    -moz-text-size-adjust: 100%;
    letter-spacing: 0.5px;
}

.homepage-list {
    display: flex;
    justify-content: space-between;
    text-align: center;;
    list-style-type: none;
    margin-top: 20px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    padding: 18px 18px 18px 18px;
}

.homepage-list li {
    display: block;
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.homepage-list p {
    display: block;
    max-width: 340px;
    line-height: 22.4px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

// .li p {
// display: flex;
// justify-content: center;
// max-width: 3px;
// padding: 15px;
// }


.fa.fa-check {
    color: #F1641E;
    font-size: 24px;
    font-weight: 100;
    padding-right: 8px;
}

.homepage h3 {
    font-size: 20px;
    font-weight: 200;
    line-height: 25.6px;
}

.about-home {
    display: block;
    // min-width: 1000px;
    // width: 100%;
    height: 70%;
    min-height: 300px;
    margin-top: 30px;
    padding: 36px;
    background: #FDEBD2;
    position: relative;
    overflow: hidden;
    list-style-type: none;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    color: black;
}

.about-home-container h2 {
    box-sizing: border-box;
    font-size: 44px;
    font-weight: 100;
    text-size-adjust: 100%;
    text-align: center;
    line-height: 48px;
    padding: 0px;
    font-family: "Guardian-EgypTT",serif;
}

.about-list {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    text-size-adjust: 100%;
    padding: 30px 18px 0px 18px;
    position: relative;
    line-height: 20px;
}
.about-list h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 12px;
    font-family: "Guardian-EgypTT",serif;
}

.about-list li {
    display: block;
    float: left;
    padding: 0 8px 0 8px;
    width: 375px;
    text-size-adjust: 100%;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
}

.about-home-container h4 {
    text-align: center;
    margin: 24px;
    font-size: 22px;
    font-weight: 400;
    text-size-adjust: 100%;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.home-products {
    padding-top: 20px;
}

// .home-products-container {
//   display: flex;  
//   padding: 10px 45px 45px 45px;
//   margin: 15px;
//   align-items: center;
//   list-style-type: none;
//   font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
// }

.home-products > h1 {
    font-size: 26px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-weight: 500;
    text-align: center;
}

.popular-products {
  display: flex;  
  padding: 15px 45px 25px 45px;
  margin: 15px;
  align-items: center;
  list-style-type: none;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}


.other-products {
  display: flex;  
  padding: 0px 45px 10px 45px;
  margin: 15px;
  align-items: center;
  list-style-type: none;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.other-products-container > h1 {
    font-size: 16px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-weight: 500;
    padding-left: 60px;
}



